body {
  background-color: #fffee0;
}

.pembayaran {
  font-size: 15px;
  color: #2d2d2d;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 10%);
  padding: 30px 120px;
  box-shadow: 3px 3px 10px 0px rgb(171, 171, 171);
  width: 50vw;
  height: 570px;
  border-radius: 3%;
  background-color: #ffffff;
}
